@import "tailwindcss";
@tailwind utilities;
@config "../../tailwind.config.js";

:root {
  --background: #151312;
  --foreground: #ffffff;
  --primary: #f46c38;
  --secondary: #C5FF41;
  --soft-gray: #b6b4bd33;
  --gray: #998F8F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .site-content {
    @apply text-lg text-[var(--gray)] font-medium leading-relaxed;
  }
}